In [1]:
import pandas as pd
df = pd.read_csv('IMDB-Movie-Data.csv')
first = df[df.Year ==2016].sort_values(by='Rating',ascending = False)
first.head(3)
#取所有2016的電影 並依據rating做排序

,Rank,Title,Genre,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
2,118,Dangal,Action|Biography|Drama,Nitesh Tiwari,Aamir Khan| Sakshi Tanwar| Fatima Sana Shaikh|...,2016,161,8.8,48969,11.15,NaN
4,97,Kimi no na wa,Animation|Drama|Fantasy,Makoto Shinkai,Ryunosuke Kamiki| Mone Kamishiraishi| Ryo Nari...,2016,106,8.6,34110,4.68,79.0
15,862,Koe no katachi,Animation|Drama|Romance,Naoko Yamada,Miyu Irino| Saori Hayami| Aoi Yuki| Kensho Ono,2016,129,8.4,2421,NaN,80.0

In [2]:
#print(df.info())
#print(df.loc[0]['Actors'])
ator = []
for i in range(len(df['Actors'])):
    actorlist = df.loc[i]['Actors'].split("|")
    for j in range(len(actorlist)):
        dict = {}
        actorlist[j] = actorlist[j].strip()
        dict['actor'] = actorlist[j]
        dict['revenue'] = df.loc[i]['Revenue (Millions)']
        ator.append(dict)
act_rev = pd.DataFrame(ator)
act_rev2 = act_rev.fillna(0.0)
group = act_rev2.groupby(act_rev2.actor)
second = group.aggregate(pd.DataFrame.mean).sort_values(by='revenue',ascending = False)
#second
second.head(2)
#因為actors裡面很多actor 所以要取出來並split 
#在把缺失值補0 在以actor進行分群 去計算每個actor 的平均收入並做排序

              revenue
actor
John Boyega    936.63
Daisy Ridley   936.63

In [3]:
#print(df.info())
ew=[]
for i in range(len(df['Actors'])):
    actorlist = df.loc[i]['Actors'].split("|")
    for act in actorlist:
        act = act.strip()
        if act == "Emma Watson":
            ew.append(df.loc[i]['Rating'])
third = pd.Series(ew)
print(third.mean())
#把有艾瑪華生的資料取出來 並把對應的rating收集起來最後取平均

7.175

In [4]:
dtoa = []
for i in range(len(df['Actors'])):
    actorlist = df.loc[i]['Actors'].split("|")
    for act in actorlist:
        act = act.strip()
        empty = {}
        empty['director'] = df.loc[i]['Director']
        empty['actor'] = act
        dtoa.append(empty)
fourth = pd.DataFrame(dtoa)
fourth.drop_duplicates(keep='last',inplace = True)
fourth.groupby("director").count().actor.sort_values(ascending = False).head(4)
#fourth是一個dataframe裡面每筆資料都是合作的director 跟 actor
#把重複actor的刪掉並依據actor的數量做排序

director
Ridley Scott          28
M. Night Shyamalan    24
Danny Boyle           20
Paul W.S. Anderson    20
Name: actor, dtype: int64

In [5]:
atog = []
for i in range(len(df['Actors'])):
    actorlist = df.loc[i]['Actors'].split("|")
    genrelist = df.loc[i]['Genre'].split("|")
    for act in actorlist:
        act = act.strip()
        for genre in genrelist:
            empty = {}
            empty['actor'] = act
            empty['genre'] = genre
            atog.append(empty)
fifth = pd.DataFrame(atog)
fifth.drop_duplicates(keep='last',inplace = True)
fifth.groupby("actor").count().genre.sort_values(ascending = False).head(6)
#fifth是一個dataframe裡面每筆資料都是合作的actor 跟 genre
#把重複genre的刪掉並依據genre的數量做排序

actor
Brad Pitt             14
Amy Adams             13
Chloe Grace Moretz    13
Johnny Depp           13
Hugh Jackman          13
Scarlett Johansson    13
Name: genre, dtype: int64

In [6]:
gap = []
for i in range(len(df['Actors'])):
    actorlist = df.loc[i]['Actors'].split("|")
    for act in actorlist:
        act = act.strip()
        empty = {}
        empty['actor'] = act
        empty['year'] = df.loc[i]['Year']
        gap.append(empty)
sixth = pd.DataFrame(gap)
grouped = sixth.groupby(sixth.actor)
sixthmax = grouped.aggregate(pd.DataFrame.max)
sixthmin = grouped.aggregate(pd.DataFrame.min)
Sixth = pd.merge(sixthmax, sixthmin, on='actor')
#先創造兩個seires 分別為演員所演過的電影的最近年分 跟最遠年分
#print(Sixth.info())
Sixth['GAP'] = Sixth ['year_x'] - Sixth['year_y']
Sixth.sort_values(by='GAP',ascending = False).head(53)
#創造一個column並把最近年分-最遠年分 並依據gap做排序

                     year_x  year_y  GAP
actor
Jennifer Aniston       2016    2006   10
Toni Collette          2016    2006   10
Ben Kingsley           2016    2006   10
Tom Cruise             2016    2006   10
Tom Hanks              2016    2006   10
Ben Whishaw            2016    2006   10
Ellen Burstyn          2016    2006   10
Johnny Depp            2016    2006   10
Bob Balaban            2016    2006   10
Paula Patton           2016    2006   10
Brad Pitt              2016    2006   10
Morgan Freeman         2016    2006   10
Gerard Butler          2016    2006   10
Michelle Monaghan      2016    2006   10
Judi Dench             2016    2006   10
Justin Theroux         2016    2006   10
Owen Wilson            2016    2006   10
Jessica Biel           2016    2006   10
Emily Blunt            2016    2006   10
Sacha Baron Cohen      2016    2006   10
Steve Carell           2016    2006   10
Jack Davenport         2016    2006   10
Scarlett Johansson     2016    2006   10
Dustin Hoffman         2016    2006   10
Samuel L. Jackson      2016    2006   10
Anne Hathaway          2016    2006   10
Hugh Jackman           2016    2006   10
Rachel Weisz           2016    2006   10
Russell Crowe          2016    2006   10
Dominic West           2016    2006   10
Denzel Washington      2016    2006   10
Jennifer Connelly      2016    2006   10
Audrey Tautou          2016    2006   10
Jeremy Irons           2016    2006   10
Meryl Streep           2016    2006   10
Edward Norton          2016    2006   10
Bryce Dallas Howard    2016    2006   10
Kate Bosworth          2016    2006   10
Luke Wilson            2016    2006   10
Abbie Cornish          2016    2006   10
Kang-ho Song           2016    2006   10
Marion Cotillard       2016    2006   10
Chiwetel Ejiofor       2016    2006   10
Christopher Plummer    2016    2006   10
Will Smith             2016    2006   10
Mark Wahlberg          2016    2006   10
Kirsten Dunst          2016    2006   10
Will Ferrell           2016    2006   10
Matt Damon             2016    2006   10
Kevin Spacey           2016    2006   10
Christian Bale         2016    2006   10
Eva Green              2016    2006   10
Maya Rudolph           2016    2006   10

In [7]:
re = []
for i in range(len(df['Actors'])):
    actorlist = df.loc[i]['Actors'].split("|")
    for z in range(len(actorlist)):
        actorlist[z] = actorlist[z].strip()
    for j in range(len(actorlist)):
        for k in range(len(actorlist)):
            if j!=k:
                empty = {}
                empty['actor'] = actorlist[j]
                empty['correspond'] = actorlist[k]
                re.append(empty)
seven = pd.DataFrame(re)
seven.drop_duplicates(keep='last',inplace = True)
k = seven[seven.actor == "Johnny Depp"]
for i in range(len(k)):
    temp = seven[seven.actor == k.iloc[i]['correspond']]
    for j in range(len(temp)):
        temp.iloc[j]['actor'] = 'Johnny Depp'
    result = pd.concat([k,temp])
    k = result
k

             actor          correspond
3061   Johnny Depp        Alan Rickman
3062   Johnny Depp       Timothy Spall
3194   Johnny Depp      Jack Davenport
4224   Johnny Depp       Orlando Bloom
4225   Johnny Depp     Keira Knightley
...            ...                 ...
11377  Johnny Depp     Amanda Seyfried
11378  Johnny Depp      Johnny Simmons
11799  Johnny Depp      Lily-Rose Depp
11800  Johnny Depp  Harley Quinn Smith
11801  Johnny Depp         Johnny Depp

[395 rows x 2 columns]